body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: linear-gradient(135deg, #810af0 0%, #e69a02c6 100%);
}

.popup-container {
    width: 400px; /* Set your desired width here */
    height: 500px; /* Set your desired height here */
    overflow: auto; /* Ensure scrollability if content overflows */
    margin: auto; /* Center the popup */
    background-color: white; /* Ensure background color */
    padding: 10px; /* Add padding for content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

header, main, aside, footer {
    padding: 10px; /* Ensure padding inside popup */
}

header {
    background: linear-gradient(135deg, #810af0 0%, #e69a02c6 100%);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

main {
    overflow-y: auto; /* Ensure main content scrolls if needed */
}

.product {
    text-align: center;
    margin-bottom: 20px;
    
}
.product img{
    height: 160px;
    width: 160px;
}
.product h3 {
    margin: 10px 0;
}

aside {
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: small;
    font-weight: bold;
    background: linear-gradient(135deg, #9000ff 0%, #ba1000c6 100%);
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
